body {
    font-family: 'Montserrat', 'Helvetica';
    font-size: 16px;
    line-height: 1.25rem;
    color: black;
    background-color: #E29F7A; 
}

h1 {
    font-family: 'Pacifico';
    color: #34707A;
    list-style: none;
}

nav > ul {
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}